<style>
    tr,
    td,
    th {
      border: 1px solid black;
      padding: 4px;
    }
  </style>
<div>
    <table class="table-dark table-bordered">
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Joining</th>
        </tr>
        <tr *ngFor ="let employee of employeeList;">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.dateOfJoining}}</td>
        </tr>
    </table>

</div>