<p></p>
<div>
    <button (click)="onAddEmployee()" style="margin-left: 20px;" class="btn btn-primary">Add Employee</button>
    <button (click)="onShowEmployee()" style="margin-left: 20px;" class="btn btn-primary">Show Employee</button>
</div>
<div style="margin-left: 40px;margin-top: 50px;">
    <router-outlet></router-outlet>
</div>